body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e4e9cd;
}

.app-container {
  text-align: center;
  padding: 2rem;
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.chore-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.chore-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.chore-list {
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

.chore-list li {
  display: flex;
  align-items: center;
}

.chore-list input[type="checkbox"] {
  margin-right: 10px;
}

.back-button {
  background-color: #d1d5db;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #a3a3a3;
}

.room-button {
  background-color: #53ae70;
  color: #242323;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.582);
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.room-button:hover {
  background-color: #99c492;
}
